* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #333;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}
button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button a {
    text-decoration: none;
    color: #fff;
}
button:hover {
    background-color: #0056b3;
}
